/* ===============================
   🎯 DESAFIO 2 (cores)
=============================== */
:root {
    --bg: #0a0a0a;
    --card: #121212;
    --primary: #1db954; /* Spotify vibe */
    --text: #ffffff;
    --muted: #b3b3b3;
}

/* ===============================
   BODY
=============================== */
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 40px 20px;

    background: linear-gradient(to bottom, #2a2a2a, #000000);
    color: var(--text);
}


/* ===============================
   HEADER
=============================== */
.header h1 {
    font-size: 2rem;
    margin-bottom: 5px;
}

.header p {
    color: var(--muted);
}


/* ===============================
   CARDS
=============================== */
.stats {
    display: flex;
    gap: 10px;
}

.card {
    flex: 1;
    background: var(--card);
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.card h3 {
    font-size: 0.9rem;
    color: var(--muted);
}

.card span {
    font-size: 1.5rem;
    font-weight: bold;
}


/* ===============================
   ADD TASK
=============================== */
.add-task {
    display: flex;
    margin-top: 20px;
}

.add-task input {
    flex: 1;
    padding: 14px;
    border: none;
    outline: none;
    border-radius: 30px 0 0 30px;
    background: #1a1a1a;
    color: white;
}

.btn-add {
    padding: 14px 20px;
    border: none;
    background: #1db954;
    color: white;
    cursor: pointer;
    border-radius: 0 30px 30px 0;
}
.btn-add:hover {
    opacity: 0.8;
}


/* ===============================
   FILTROS
=============================== */
.filters {
    display: flex;
    gap: 10px;
}

.filter {
    flex: 1;
    padding: 8px;
    border: none;
    background: var(--card);
    color: var(--text);
    cursor: pointer;
    border-radius: 6px;
}

.filter.active {
    background: var(--primary);
}


/* ===============================
   TASKS
=============================== */
.task {
    display: flex;
    align-items: center;
    gap: 10px;

    background: #181818;
    padding: 7px 10px; /* ↓ reduzido ~30% */
    border-radius: 8px;

    transition: 0.2s;
}

.task:hover {
    background: #222;
}

.task::before {
    content: "🎵";
}

.task span {
    flex: 1;
    font-size: 0.9rem;
}

.task input[type="checkbox"] {
    transform: scale(0.9);
    cursor: pointer;
}

.task button {
    background: transparent;
    border: none;
    color: #888;
    cursor: pointer;
}

.task button:hover {
    color: red;
}
.tasks {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}